.footer-card {
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
  border-radius: 16px;
  width: 88%;
  min-height: 80px;
  margin: auto;
}

.footer-btn {
  background: linear-gradient(90deg, #e53935 0%, #e35d5b 100%);
  box-shadow: 0px 20px 30px rgba(254, 114, 76, 0.251);
  border-radius: 1000px;
}

.reward-item {
  margin-bottom: 5px;
  min-width: 287px;
  min-height: 28px;
  border: 1px solid #e9ebf6;
  box-sizing: border-box;
  border-radius: 16px;
}

.reward-item-left {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #e81214;
  text-transform: lowercase;
}

.reward-item-right {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: black;
  text-transform: lowercase;
}

.total-rewards {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.fs-18 {
  font-size: 18px;
}

.pb-5 {
  padding-bottom: 5px;
}

.ml-1 {
  margin-left: 1px;
}

.mr-1 {
  margin-right: 1px;
}
