<div
  class="footer-card"
  fxLayout="column"
  fxLayoutAlign="center space-around"
  fxLayoutGap="3px"
>
  <div *ngIf="isShowRemainingTurns">
    <div fxLayout="row" fxLayoutAlign="space-between" fxFlexFill>
      <div fxFlex="45" class="turns-title text-align-left">Lượt quay</div>
      <div fxFlex="55" class="turns-title text-align-right">Hết hạn</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" fxFlexFill>
      <div fxFlex="45" class="turns-value text-align-left">
        {{ getRemainingTurns }}
      </div>
      <div fxFlex="55" class="turns-value text-align-right">
        {{ customerInfoRawData?.data?.effectiveToDate }}
      </div>
    </div>
  </div>
  <div class="pb-4">
    <span class="reward-item-right fs-18 mr-1">Còn</span>
    <span class="reward-item-left fs-18 ml-1 mr-1">{{
      winWheelRawData?.data?.remainingRewards?.totalQuantity
    }}</span>
    <span class="reward-item-right fs-18 ml-1">món quà</span>
  </div>
  <ng-scrollbar style="min-height: 62px">
    <div
      class="reward-item"
      fxLayout="row"
      fxLayoutAlign="center center"
      *ngFor="
        let rewardItem of winWheelRawData?.data?.remainingRewards?.details
      "
    >
      <span class="reward-item-left mr-1">{{ rewardItem.quantity }}</span>
      <span class="reward-item-right ml-1">{{ rewardItem.reward }}</span>
    </div>
  </ng-scrollbar>

  <button
    mat-raised-button
    color="accent"
    class="footer-btn"
    (click)="startSpin()"
  >
    Quay ngay
  </button>
</div>
