<div
  class="footer-card"
  fxLayout="column"
  fxLayoutAlign="center space-around"
  fxLayoutGap="3px"
>
  <ng-scrollbar style="min-height: 50px">
    <div
      class="reward-item"
      fxLayout="row"
      fxLayoutAlign="center center"
      *ngFor="
        let rewardItem of winWheelRawData?.data?.remainingRewards?.details
      "
    >
      <span class="reward-item-left">{{ rewardItem.quantity }}</span>
      <span class="reward-item-right">{{ rewardItem.reward }}</span>
    </div>
  </ng-scrollbar>

  <button mat-raised-button color="accent" class="footer-btn">Quay Ngay</button>
</div>
