<div
  class="footer-card"
  fxLayout="column"
  fxLayoutAlign="center space-around"
  fxLayoutGap="1px"
>
  <div *ngIf="isShowRemainingTurns">
    <div fxLayout="row" fxLayoutAlign="space-between" fxFlexFill>
      <div fxFlex="40" class="turns-title text-align-left">Lượt quay</div>
      <div fxFlex="60" class="turns-title text-align-right">Hết hạn</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" fxFlexFill>
      <div fxFlex="30" class="turns-value text-align-left">
        {{ getRemainingTurns }}
      </div>
      <div fxFlex="70" class="turns-value text-align-right">
        {{ effectiveDate }}
      </div>
    </div>
  </div>
  <div class="pb-4">
    <span class="reward-item-right fs-18 mr-2 text-upper-case">Còn</span>
    <span class="reward-item-left fs-18 ml-2 mr-2">{{
      winWheelRawData?.data?.remainingRewards?.totalQuantity
    }}</span>
    <span class="reward-item-right fs-18 ml-2">món quà</span>
  </div>
  <ng-scrollbar style="min-height: 62px">
    <div
      class="reward-item"
      fxLayout="row"
      fxLayoutAlign="center center"
      *ngFor="
        let rewardItem of winWheelRawData?.data?.remainingRewards?.details
      "
    >
      <span class="reward-item-left mr-2">{{ rewardItem.quantity }}</span>
      <span class="reward-item-right ml-2">{{ rewardItem.reward }}</span>
    </div>
  </ng-scrollbar>

  <button
    mat-raised-button
    color="accent"
    class="footer-btn-invert"
    (click)="openRulesDialog()"
  >
    Thể lệ chương trình
  </button>
  <button
    mat-raised-button
    color="accent"
    class="footer-btn"
    (click)="startSpin()"
  >
    Quay ngay
  </button>
  <swal #rulesSwal [swalOptions]="{ showConfirmButton: false, width: 350 }">
    <div *swalPortal="swalTargets.content">
      <app-rules [self]="rulesSwal"></app-rules>
    </div>
  </swal>
  <swal #signInSwal [swalOptions]="{ showConfirmButton: false, width: 300 }">
    <div *swalPortal="swalTargets.content">
      <app-sign-in [self]="signInSwal"></app-sign-in>
    </div>
  </swal>
</div>
