#canvasContainer {
  background-image: url("../../../assets/images/wheel_back_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hidden-btn {
  width: 0;
  height: 0;
  display: none;
}
