<mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div
      class="main-content"
      style="
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #1e2661;
        margin-top: 20px;
      "
    >
      {{ congratulationString }}
    </div>
    <div
      class="sub-content"
      style="
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #878dba;
        margin-top: 20px;
        margin-bottom: 20px;
      "
    >
      Vui lòng vào mục Giỏ quà để xem các phần thưởng
    </div>
    <button
      style="
        background: linear-gradient(90deg, #e53935 0%, #e35d5b 100%);
        box-shadow: 0px 20px 30px rgba(254, 114, 76, 0.251);
        border-radius: 1000px;
        margin-top: 4px;
      "
      mat-raised-button
      color="accent"
      class="reward-btn"
      fxFlexFill
      mat-dialog-close
      cdkFocusInitial
      (click)="closeDialog()"
    >
      Xác nhận
    </button>
  </div>
</mat-dialog-content>
