<mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div
      class="reward-item"
      fxLayout="row"
      fxLayoutAlign="center center"
      *ngFor="let box of giftBox"
    >
      <span class="reward-item-right mr-1">{{ box }}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!giftBox?.length">
      <span class="reward-item-right mr-1"
        >bạn chưa có quà nào, nhanh tay giựt quà bạn nhé!</span
      >
    </div>
    <button
      mat-raised-button
      mat-dialog-close
      color="accent"
      class="footer-btn"
      fxFlexFill
    >
      Đóng
    </button>
  </div>
</mat-dialog-content>
