.reward-item {
  margin-bottom: 5px;
  min-width: 287px;
  min-height: 28px;
  border: 1px solid #e9ebf6;
  box-sizing: border-box;
  border-radius: 16px;
}

.reward-item-left {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #e81214;
  text-transform: lowercase;
}

.reward-item-right {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: black;
  text-transform: lowercase;
}

.footer-btn {
  background: linear-gradient(90deg, #e53935 0%, #e35d5b 100%);
  box-shadow: 0px 20px 30px rgba(254, 114, 76, 0.251);
  border-radius: 1000px;
  margin-top: 4px;
}

.mb-20 {
  margin-bottom: 20px;
}
