<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 20px">
  <div fxFlex="20"></div>
  <div fxFlex="60" class="top-bar-title">{{ campaignName }}</div>
  <div fxFlex="20">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="openDialog()"
      *ngIf="showGiftBox"
    >
      <mat-icon>card_giftcard</mat-icon>
    </button>
  </div>
  <swal
    #giftBoxSwal
    [swalOptions]="{ showConfirmButton: false, width: 300, heightAuto: false }"
  >
    <div *swalPortal="swalTargets.content">
      <app-gift-box [self]="giftBoxSwal"></app-gift-box>
    </div>
  </swal>
</div>
