<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
  <div class="content" fxLayout="column">
    <div fxFlex="5" class="sec1">
      <app-top-bar></app-top-bar>
    </div>
    <div fxFlex="55" class="sec2">
      <app-win-wheel [hidden]="!shouldShowWinWheelComponent"></app-win-wheel>
    </div>
    <div
      fxFlex="40"
      fxLayout="column"
      fxLayoutAlign="center center"
      class="sec3"
    >
      <app-footer></app-footer>
    </div>
    <ngx-spinner
      [fullScreen]="false"
      type="ball-clip-rotate-multiple"
      size="medium"
    >
      <p class="loading">Chờ xíu xiu thôi...</p>
    </ngx-spinner>
  </div>
</div>

<router-outlet></router-outlet>
